/* styling format followed sample structure presented in class*/

/* colors from colorbrewer2.org
main banner background: #de2d26
nav bar bottom border: #bdbdbd
*/
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

caption {
    caption-side: bottom;
    margin-top: 0.5em;
    text-align: center;
}

p {
    font-size: 100%
}

.image_box {
    border: none;
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.image_box > img {
    display: block;
    margin: auto;
}

#global_nav {
    position: fixed;
    background-color: #ffffff;
    color: #cc0000;
    border-bottom: solid 2px #bdbdbd;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: auto;
    top: 0px;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    z-index: 1;
}

.nav_span {
    margin-right: 2em;
}

#top {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0.5em;
}

#top > img {
    max-width: 100%
}

#top2 {
    margin: 0 auto;
    margin-top: 3em;
    position: relative;
    width: 100%;
    z-index: 0;
}

#top2 h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #cc0000;
}

#container {
    margin: 0 auto;
    max-width: 1200px;
}

#content {
    background-color: #ffffff;
    margin-top: 6em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

#left {
    float: left;
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

#left > h3 {
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#left > p {
    margin-top: 0;
}

#right {
    float: right;
    width: 25%;
    margin-top: 3em;
    margin-bottom: 3em;
}

#right > h3 {
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.chapterpic {
	width: 333px;
	height: 222px;
}

.logo {
	width: 149px;
	height: 177px;
    display: block;
    margin-right: auto; 
    margin-left: auto;
    max-width: 100%;
    margin-top: 2em;
    height: auto;
}

.caption {
    text-align: center;
}

.kplcolor {
    color:#de2d26;
    font: italic;
}

@media screen and (min-width: 768px ) and (max-width: 1200px) {
    #top > img {
        max-width: 1200px;
        margin-top: 4em;
        max-width: 100%;
    }

    #container {
        width: 90%;
    }
    
    #left {
        width: 65%;
    }

    #right {
        width: 25%;
    }

    #right > h3 {
    font-size: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

}

@media screen and (min-width: 480px ) and (max-width: 768px) {

    .nav_span {
        font-size: 1em;
        margin-right: 0.5em;
    }

    #top > img {
        max-width: 768px;
        margin-top: 4em;
        max-width: 100%;
    }

    #top2 {
        text-align: center;
        margin-top: 4em;
    }

    #container{
        margin:auto;
        max-width: 95%;
    }

    #left > p {
        font-size: 1em;
    }

    #left {
        width: 100%;
    }

    #right {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    #right > h3 {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0;
    }
}


@media screen and (max-width: 480px) {

    #top > img {
        margin-top: 4em;
        max-width: 100%;
    }

    .image_box{
        display:none;
    }

    #global_nav > span:first-child {
        margin-left: 0em;
    }

    .nav_span {
        font-size: 1em;
        margin-right: 0.2em;
    }
    
    #top2 {
        display: block;
        margin: auto;
        padding-top: 6em;
    }

    #left {
        width: 100%;
    }

    #right {
        display: none;
    }

    #left > p {
    font-size: 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}

